<!-- Dado la variable var estado = 1-->
<mat-tab-group color="accent">
    <mat-tab label="CONTROL DE JITOMATES">
        <div class="jumbotron" style="float:left; padding: 15px 25px; background-color:	#DCDCDC;">
            <h1 style="text-align: center; font-size: 20px;"> Información del Cultivo</h1>

            <h1 style="text-align: center; font-size: 15px;"> TEMPERATURA</h1>

            <table class="table table-secondary ">
                <tr class="table  " style="background-color: #000080; color: white;">
                    <th width="30% ">Status</th>
                    <th width="40% ">valor</th>
                </tr>
                <tbody>
                    <tr class="table-bordered bg-warning ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Óptimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 20 - 30 °C</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-danger " style="color: white;">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Máximo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 30 - 35 °C</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-primary ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Mínimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 12 - 15 °C</h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h1 style="text-align: center; font-size: 15px; "> HUMEDAD RELATIVA</h1>

            <table class="table table-secondary ">

                <tbody>
                    <tr class="table-bordered bg-warning ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Óptimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 60 - 80 %</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-danger " style="color: white;">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Máximo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 75 - 80 %</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-primary ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Mínimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 60 - 65 %</h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h1 style="text-align: center; font-size: 15px; "> HUMEDAD DEL SUELO</h1>

            <table class="table table-secondary ">

                <tbody>
                    <tr class="table-bordered bg-warning ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Óptimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 45 - 50 %</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-danger " style="color: white;">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Máximo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 60 %</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-primary ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Mínimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 40 %</h1>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
        <h3>ESTADO ACTUAL</h3>
        <div class="jumbotron" style="float:right; padding: 50px; background-color: #003366;">
            <div class="card-deck ">
                <div class="card-deck" *ngFor="let item of sensor1 ">
                    <div class="card ">
                        <div class="card-header " style="color: black; ">
                            <h4 class=" ">TEMPERATURA</h4>
                        </div>
                        <div class="card-body " style="text-align: center;">
                            {{loqueras(item.temperatura)}}

                            <div [ngSwitch]="estadoTj">
                                <div *ngSwitchCase="1">

                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " units="°C " unitsFontSize="20 " [showUnits]="true " percent="{{item.temperatura}} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]="
            '#c0c0c0' " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#cc0000' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-danger " role="alert ">
                                        "ESTADO DE TEMPERATURA MÁXIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                            <span aria-hidden="true ">&times;</span>
                                        </button>
                                    </div>

                                </div>
                                <div *ngSwitchCase="2 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " units="°C " unitsFontSize="20 " [showUnits]="true " percent="{{item.temperatura}} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]="
            '#c0c0c0' " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#0099FF' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-primary " role="alert ">
                                        "ESTADO DE TEMPERATURA MÍNIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                            <span aria-hidden="true ">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="3 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " units="°C " unitsFontSize="20 " [showUnits]="true " percent="{{item.temperatura}} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]="
            '#c0c0c0' " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#FFCC00' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-warning " role="alert ">
                                        "ESTADO DE TEMPERATURA ÓPTIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                            <span aria-hidden="true ">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div *ngSwitchDefault>ESTADO NO ADMITIDO</div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <small class="text-muted ">Actualizado el {{item.fecha| date: 'd/M/yyyy'}} </small>
                        </div>
                    </div>
                    <div class="card " style="padding: 5px, 50px; ">
                        <div class="card-header " style="color: black; ">
                            <h4 class=" ">HUMEDAD RELATIVA</h4>
                        </div>
                        <div class="card-body " style="text-align: center; ">
                            {{humedadRelaJStatus(item.humedad)}}
                            <div [ngSwitch]="estadoHRj ">
                                <div *ngSwitchCase="1 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#cc0000' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-danger " role="alert ">
                                        "ESTADO DE TEMPERATURA MÁXIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                            <span aria-hidden="true ">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="2 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#0099FF' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-primary " role="alert ">
                                        "ESTADO DE TEMPERATURA MÍNIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                            <span aria-hidden="true ">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="3 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#ffCC00' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-warning " role="alert ">
                                        "ESTADO DE TEMPERATURA ÓPTIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                            <span aria-hidden="true ">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div *ngSwitchDefault>ESTADO NO ADMITIDO</div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <small class="text-muted ">Actualizado el {{item.fecha| date: 'd/M/yyyy'}}</small>
                        </div>
                    </div>
                </div>

                <div class="card-deck " style="text-align: center; padding: 0px 35px; " *ngFor="let item of sensor3 ">
                    <div class="card " style="padding: 5px, 40px;">
                        <div *ngFor="let item of sensor3 " class="card-header " style="color: black; ">
                            <h4 class=" ">HUMEDAD DEL SUELO</h4>
                        </div>
                        <div class="card-body " style="text-align: center;">
                            {{humedadsueloJitomates(item.humedad)}}
                            <div [ngSwitch]="estadoSJ">
                                <div *ngSwitchCase="1">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#cc0000' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="true " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]=" '700'
            " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-danger " role="alert ">
                                        "ESTADO MÁXIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                    <span aria-hidden="true ">&times;</span>
                </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="2">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#0099FF' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="true " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]=" '700'
            " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-primary " role="alert ">
                                        "ESTADO MÍNIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                    <span aria-hidden="true ">&times;</span>
                </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="3">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '##ffCC00' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="true " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]=" '700'
            " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-warning " role="alert ">
                                        "ESTADO ÓPTIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                    <span aria-hidden="true ">&times;</span>
                </button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="card-footer ">
                            <small class="text-muted ">Actualizado el {{item.fecha | date: 'd/M/yyyy'}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="CONTROL DE FRESAS">
        <div class="jumbotron" style="float:left; padding: 15px 25px; background-color:	#F5F5F5;">
            <h1 style="text-align: center; font-size: 20px;"> Información del cultivo</h1>
            <h1 style="text-align: center; font-size: 15px;"> TEMPERATURA</h1>

            <table class="table table-secondary ">
                <tr class="table  " style="background-color: #000080; color: white;">
                    <th width="30% ">Status</th>
                    <th width="40% ">valor</th>
                </tr>
                <tbody>
                    <tr class="table-bordered bg-warning ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Óptimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 15 - 20 °C</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-danger" style="color: white;">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Máximo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 25 °C</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-primary ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Mínimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 12 °C</h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h1 style="text-align: center; font-size: 15px; "> HUMEDAD RELATIVA</h1>

            <table class="table table-secondary ">

                <tbody>
                    <tr class="table-bordered bg-warning ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Óptimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 65 - 70 %</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-danger " style="color: white;">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Máximo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 70 %</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-primary ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Mínimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 65 %</h1>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h1 style="text-align: center; font-size: 15px; "> HUMEDAD DEL SUELO</h1>

            <table class="table table-secondary ">

                <tbody>
                    <tr class="table-bordered bg-warning ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Óptimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 70-89 %</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-danger " style="color: white;">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Máximo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 90 %</h1>
                        </td>
                    </tr>
                    <tr class="table-bordered bg-primary ">
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> Mínimo</h1>
                        </td>
                        <td align="center">
                            <h1 style="text-align: center; font-size: 15px;"> 70 %</h1>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <h3>ESTADO ACTUAL</h3>
        <div class="jumbotron " style="float:right; padding: 50px; background-color: #003366;">

            <div class="card-deck " style="text-align: center; " *ngFor="let item of sensor2 ">
                <div class="card-deck " style="text-align: center; " *ngFor="let item of sensor2 ">
                    <div class="card ">
                        <div class="card-header " style="color: black; ">
                            <h4 class=" ">TEMPERATURA</h4>
                        </div>
                        <div class="card-body " style="text-align: center;  ">
                            {{temperaturaFStatus(item.temperatura)}}
                            <div [ngSwitch]="estadoTf ">
                                <div *ngSwitchCase="1 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " units="°C " unitsFontSize="20 " [showUnits]="true " percent="{{item.temperatura}} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]="
            '#c0c0c0' " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#cc0000' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-danger " role="alert ">
                                        "ESTADO DE TEMPERATURA MÁXIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                                    <span aria-hidden="true ">&times;</span>
                                                </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="2 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " units="°C " unitsFontSize="20 " [showUnits]="true " percent="{{item.temperatura}} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]="
            '#c0c0c0' " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#0099FF' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-primary " role="alert ">
                                        "ESTADO DE TEMPERATURA MÍNIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                                    <span aria-hidden="true ">&times;</span>
                                                </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="3 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " units="°C " unitsFontSize="20 " [showUnits]="true " percent="{{item.temperatura}} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]="
            '#c0c0c0' " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#FFCC00' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-warning " role="alert ">
                                        "ESTADO DE TEMPERATURA ÓPTIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                                    <span aria-hidden="true ">&times;</span>
                                                </button>
                                    </div>

                                </div>
                                <div *ngSwitchDefault>ESTADO NO ADMITIDO</div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <small class="text-muted ">Actualizado el {{item.fecha| date: 'd/M/yyyy'}}</small>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-header " style="color: black; ">
                            <h4 class=" ">HUMEDAD RELATIVA</h4>
                        </div>
                        <div class="card-body " style="text-align: center;  ">
                            {{humedadRelaFStatus(item.humedad)}}
                            <div [ngSwitch]="estadoHRf ">
                                <div *ngSwitchCase="1 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#cc0000' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-danger " role="alert ">
                                        "ESTADO DE TEMPERATURA MÁXIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                                    <span aria-hidden="true ">&times;</span>
                                                </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="2 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#0099FF' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-primary" role="alert ">
                                        "ESTADO DE TEMPERATURA MÍNIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                                    <span aria-hidden="true ">&times;</span>
                                                </button>
                                    </div>
                                </div>

                                <div *ngSwitchCase="3 ">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#FFCC00' " [toFixed]=" '1' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="false " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' "
                                        [unitsFontWeight]="
            '700' " [titleFontSize]=" '38' " [unitsFontSize]=" '34' "></circle-progress>
                                    <div class="alert alert-warning " role="alert ">
                                        "ESTADO DE TEMPERATURA ÓPTIMO "
                                        <button type="button " class="close" data-dismiss="alert " aria-label="Close ">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                    </div>
                                </div>
                                <div *ngSwitchDefault>ESTADO NO ADMITIDO</div>
                            </div>


                        </div>
                        <div class="card-footer ">
                            <small class="text-muted ">Actualizado el {{item.fecha| date: 'd/M/yyyy'}}</small>
                        </div>
                    </div>
                </div>
                <div class="card-deck " style="text-align: center; padding: 0px 30px; " *ngFor="let item of sensor3 ">
                    <div class="card ">
                        <div class="card-header " style="color: black; " *ngFor="let item of sensor3 ">
                            <h4 class=" ">HUMEDAD DEL SUELO</h4>
                        </div>
                        <div class="card-body " style="text-align: center;">
                            {{humedadsueloFresas(item.humedad)}}
                            <div [ngSwitch]="estadoHRf ">
                                <div *ngSwitchCase="1">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#cc0000' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="true " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' " [unitsFontWeight]=" '700' "
                                        [titleFontSize]="
            '38' " [unitsFontSize]=" '34' " [toFixed]=" '1' ">
                                    </circle-progress>
                                    <div class="alert alert-danger" role="alert ">
                                        "ESTADO MÁXIMO "
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                                    <span aria-hidden="true ">&times;</span>
                                                </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="2">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#0099FF' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="true " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' " [unitsFontWeight]=" '700' "
                                        [titleFontSize]="
            '38' " [unitsFontSize]=" '34' " [toFixed]=" '1' ">
                                    </circle-progress>
                                    <div class="alert alert-primary" role="alert ">
                                        "ESTADO MÍNIMO"
                                        <button type="button " class="close " data-dismiss="alert " aria-label="Close ">
                                                    <span aria-hidden="true ">&times;</span>
                                                </button>
                                    </div>
                                </div>
                                <div *ngSwitchCase="3">
                                    <circle-progress titleColor="#000000 " [showSubtitle]="false " unitsFontSize="20 " [showUnits]="true " percent="{{item.humedad }} " [radius]="80 " [outerStrokeWidth]="14 " [innerStrokeColor]=" '#c0c0c0'
            " [innerStrokeWidth]="14 " [outerStrokeColor]=" '#FFCC00' " [animation]="true " [animationDuration]="300 " [outerStrokeGradient]="true " [outerStrokeGradientStopColor]=" '#00ffff' " [space]=" '-14' " [titleFontWeight]=" '700' " [unitsFontWeight]=" '700' "
                                        [titleFontSize]="
            '38' " [unitsFontSize]=" '34' " [toFixed]=" '1' ">
                                    </circle-progress>
                                    <div class="alert alert-warning " role="alert ">
                                        "ESTADO ÓPTIMO "
                                        <button type="button " class="close" data-dismiss="alert " aria-label="Close ">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer ">
                            <small class="text-muted ">Actualizado el {{item.fecha| date: 'd/M/yyyy'}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>