<div class="" style="padding: 30px;">

    <marquee>
        <h1>COMPORTAMIENTO DE LAS VARIABLES INTERNAS Y EXTERNAS </h1>
    </marquee>

</div>
<div class=" container">

    <table class="table table-responsive-lg table-striped" style="font-size: large;">
        <thead>
            <tr class="table-responsive-lg ">
                <th width="50%">
                    <div class="card text-white  mb-3" style="max-width: 55rem; background-color: white;">
                        <div class="card-header" style="color: black; background-color:aqua; text-align: center;">TEMPERATURA (°C)</div>
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="gFresasTemp">{{GraficaTempFre }}</canvas>
                                <h2 style="color: black;">horas</h2>
                            </div>

                        </div>
                    </div>

                </th>
                <th width="50%">
                    <div class="card text-white  mb-3" style="max-width: 55rem; background-color: white;">
                        <div class="card-header" style="color: black; background-color: aqua; text-align: center;">HUMEDAD RELATIVA / HUMEDAD DE SUELO (%)
                        </div>
                        <div class="card-body">
                            <canvas id="gHumedad">{{GraficaHum }}</canvas>
                            <h2 style="color: black;">horas</h2>
                        </div>

                    </div>
                </th>
            </tr>
        </thead>
    </table>
</div>


<div class="col-md-6 offset-md-3 mt-5">

    <div align="center">
        <a [routerLink]="['/monitoreo']" mat-raised-button color="accent" class="btn btn-success">
            <mat-icon>exit_to_app</mat-icon> volver</a>


    </div>
</div>