button {
    color: green;
}

a {
    color: blue;
}

h1:hover {
    color: #003366;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover {
    color: green;
}

:Host {
    .mat-icon {
        width: 40px;
        height: 40px;
        font-size: 50px;
    }
}