<div class="" style="padding: 50px;">

    <marquee>
        <h1>SISTEMA DE MONITOREO AMBIENTAL EXTERNO E INTERNO </h1>
    </marquee>


</div>
<div class="py-5 service-20">

    <div class="container">

        <div class="col-md-6 mb-6">
            <div class="">
                <img class="rounded img-fluid" class="img-rounded" src="/assets/imagenes/variables/interior.jpg" width="400" height="300" />
                <div class="mt-4">

                    <div align="center">
                        <a [routerLink]="['/monitoreoInEx']" mat-raised-button class="btn btn-success">
                            <mat-icon>vignette</mat-icon> MONITOREO INTERNO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-6">
            <div class="">
                <img class="rounded img-fluid" class="img-rounded" src="/assets/imagenes/variables/externo.png" width="400" height="300" />
                <div class="mt-4">
                    <div align="center">
                        <button [routerLink]="['/humedad']" mat-raised-button style="margin: 2px" class="btn btn-success">
                                <mat-icon>nature</mat-icon> MONITOREO EXTERNO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" style="padding: 40px;">
</div>