<div class="" style="padding: 30px;">

    <marquee width="600" height="30">
        <h1>SISTEMA DE MONITOREO AMBIENTAL EXTERNO E INTERNO </h1>
    </marquee>


</div>
<div class="py-5 service-20">

    <div class="container">

        <div class="col-md-6 mb-6">
            <div class="">
                <img class="rounded img-fluid" class="img-rounded" src="/assets/imagenes/variables/interior.jpg" width="400" height="300" />
                <div class="mt-4">

                    <div align="center">
                        <a [routerLink]="['/monitoreoInEx']" style="margin: 2px" mat-raised-button style="background-color:  blue; color: white;" class="btn btn-primary">
                            <mat-icon>vignette</mat-icon> MONITOREO INTERNO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-6">
            <div class="">
                <img class="rounded img-fluid" class="img-rounded" src="/assets/imagenes/variables/externo.png" width="400" height="300" />
                <div class="mt-4">
                    <div align="center">

                        <a [routerLink]="['/humedad']" style="margin: 2px" mat-raised-button style="background-color:  blue; color: white;" class="btn btn-primary">
                            <mat-icon>nature</mat-icon> MONITOREO EXTERNO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="" style="padding: 40px;">
</div>