<div class="container" style="padding: 24px;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card-shadow">
                <img src="/assets/imagenes/chapingo.png" class="img-fluid" style="background-color: black;">
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <span style="text-align: unset;">
                        El área de trabajo del CRUS son los estados de Oaxaca y de Guerrero, sin embargo la actividad académica se ha centralizado en el estado de Oaxaca.
                    </span>
            <img src="/assets/imagenes/about/local.PNG" class="img-fluid">
        </div>
        <div class="col-lg-12">
            <div class="card mt-4 border-0 mb-4">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="card-body d-flex align-items-center c-detail pl-0">
                            <div class="">
                                <h6 class="font-weight-medium" style="text-align: center;">Historia</h6>
                                <p class="" style="text-align: justify;">Hasta el año 2009 realizó sus actividades en San Pablo, Etla, Oaxaca, donde se consolidó como un centro dedicado a la investigación, servicio y difusión, y dichas instalaciones se siguen utilizando para el proyecto de Conservación,
                                    Mejoramiento y Producción de Semillas; sin embargo en el año 2009, se iniciaron actividades de docencia con un grupo de nivel propedéutico de 50 alumnos, siendo función relevante y permanente desde entonces, con los
                                    espacios muy limitados para ejecutar las labores de docencia, se decide cambiar de sede por lo que a partir del 2012 la sede del CRUS se ubica en el municipio de Zimatlan de Álvarez donde dispone de dos predios Tabamex
                                    y Casa Comunal</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card-body d-flex align-items-center c-detail">
                            <div class="">
                                <h6 class="font-weight-medium" style="text-align: center;">Infraestructura</h6>
                                <p class="" style="text-align: justify;">El CRUS dispone de cuatro predios, dos en la localidad de Zimatlan de Álvarez, en el municipio del mismo nombre, uno en el paraje la Espinera, municipio de San Pablo Etla y uno en la localidad de la Catalina municipio de
                                    Tlacama. Los tres primeros se ubican en la región de los Valles Centrales y el último en la región Costera.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card-body d-flex align-items-center c-detail">

                            <div class="">
                                <h6 class="font-weight-medium" style="text-align: center;">Localizacón</h6>
                                <p class="" style="text-align: justify;">
                                    El CRUS reside en la región de los Valles Centrales de Oaxaca, de manera estratégica en el centro del territorio Oaxaqueño. Está compuesta por dos predios vecinos, separados por la misma carretera, que son conocidos como TABAMEX y Casa Comunal, ambos
                                    donados por los ejidatarios de la comunidad.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>