<head class="toolbarHeader" style="background-color: #003366; padding-left: 150px;" *ngIf="currentUser ">
    <mat-icon>call</mat-icon>5959521500
    <a href="https://www.facebook.com/ChapingoOficial?ref=hl" style="margin: 0.2px" target="_blank" class="icon "> <img src="assets/imagenes/about/facebook.png" style=" padding-left: 800px;">
    </a>
    <a href="https://twitter.com/uach_chapingo" style="margin: 0.2px" target="_blank" class="icon "> <img src="assets/imagenes/about/gorjeo.png" style=" padding-left: 20px; ">
    </a>
    <a href="https://www.youtube.com/user/UAChapingovideos" style="margin: 0.6px" target="_blank" class="icon "> <img src="assets/imagenes/about/logo.png" style=" padding-left: 20px; ">
    </a>
</head>

<nav *ngIf="currentUser">
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="background-color:#006699; ">
        <li class="nav-item ">
            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" routerLink="['/']"><img src="../../../../assets/imagenes/chapingo.png" width="23" height="23">
                <b>UACH</b>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" [routerLink]="[ '/listadoSensor']" role="tab" aria-controls="profile" aria-selected="false">Administración de sensores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="monitoreo-tab" data-toggle="tab" [routerLink]="['/monitoreo']" role="tab" aria-controls="monitoreo" aria-selected="false">Monitoreo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="viento-tab" data-toggle="tab" [routerLink]="['/viento']" role="tab" aria-controls="control" aria-selected="false">Control</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="about-tab" data-toggle="tab" [routerLink]="['/about']" role="tab" aria-controls="acerca" aria-selected="false">Acerca</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="temperatura-tab" data-toggle="tab" [routerLink]="['/temperaturaG']" role="tab" aria-controls="mas" aria-selected="false">PRUEBAS</a>
        </li>
        <li class="nav navbar-nav navbar-right">
            <a (click)="logout()" mat-button color="accent" style="height: auto;">
                <mat-icon>exit_to_app</mat-icon>
                Salir
            </a>
        </li>
    </ul>

</nav>


<div class="container" style="text-align: center; padding: 1em 0px 0px 0px;  ">
    <router-outlet></router-outlet>
    <div class="col-sm-2">

    </div>
</div>

<!-- Footer -->
<footer class="page-footer toolbarFooter " style="background-color:#003366;" *ngIf="currentUser ">
    <!-- Footer Elements -->
    <div class="container " style="font-size: 9px;">
        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center ">
            <li class="list-inline-item ">
                <div class="card-body d-flex align-items-center c-detail pl-0 ">
                    <div class="mr-3 align-self-center ">
                        <img src="/assets/imagenes/about/direccion.png " style=" width: 40px; height: 40px;">
                    </div>
                    <div class=" ">
                        <h6 class="font-weight-medium ">Dirección</h6>
                        <p class=" ">Km 25 Carretera Oaxaca-Puerto Escondido
                            <br> Zimatlán de Alvarez, Calle Cristóbal Colon #2.</p>
                    </div>
                </div>
            </li>
            <li class="list-inline-item ">
                <div class="card-body d-flex align-items-center c-detail pl-0 ">
                    <div class="mr-3 align-self-center ">
                        <img src="/assets/imagenes/about/telefono.png" style=" width: 40px; height: 40px;">
                    </div>
                    <div class=" ">
                        <h6 class="font-weight-medium ">Telefonos</h6>
                        <p class=" ">595-521500
                            <br> Extensión | 1567</p>
                    </div>
                </div>
            </li>
            <li class="list-inline-item ">

                <div class="card-body d-flex align-items-center c-detail pl-0 ">
                    <div class="mr-3 align-self-center ">
                        <img src="/assets/imagenes/about/arroba.png" style=" width: 40px; height: 40px;">
                    </div>
                    <div class=" ">
                        <h6 class="font-weight-medium ">Correo Electronico</h6>
                        <p class=" ">
                            contactoscru@gmail.com
                            <br> SCRU Directorio
                        </p>
                    </div>

                </div>
            </li>
            <div class="footer-copyright text-center py-2 ">© Derechos reservados Universidad Autónoma Chapingo 2020:
                <a href="https://chapingo.mx/scru/crus_somos.html " style="font-size: 12px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> CRUS.com</a>

            </div>
        </ul>
        <!-- Call to action -->
    </div>
</footer>
<!-- Footer -->