<mat-tab-group color="warn">
    <mat-tab label="VARIABLES A MONITOREAR">
        <hr>
        <table class="table table-responsive-lg table-striped" style="font-size: large;">
            <thead>
                <tr class="table-responsive-lg ">
                    <th width="30%">
                        <div class="card text-white  mb-3 " style="max-width: 35rem; background-color: white;">
                            <div *ngFor="let item of listadoTemperatura" class="card-header" style="color: black; background-color:#7FFFD4;">TEMPERATURA: {{item.Temp}} °C</div>
                            <div class="card-body">
                                <div class="chart-container" style="position: relative; ">
                                    <canvas id="tempExterior" height="210">{{ Temperatura }}</canvas>
                                </div>
                            </div>
                            <div class="card-footer" *ngFor="let item of listadoTemperatura" style="color: black; font-size: 12px;">Fecha/Hora:{{item.Fecha}} {{item.Tiempo}}
                                <hr>
                                <a class="btn btn-primary " (click)="confirmacion(item)" data-toggle="modal" style="margin: 0.6px" data-target="#temperaturaE" style="font-size: 15px;" mat-raised-button style="background-color:  purple; color: white;">
                                    <mat-icon>list_alt</mat-icon> Detalles</a>

                            </div>
                        </div>
                    </th>
                    <th width="30%">
                        <div class="card text-white  mb-3 " style="max-width: 35rem; background-color: white;">
                            <div *ngFor="let item of listadoHumedad" class="card-header" style="color: black; background-color: #7FFFD4;">HUMEDAD: {{item.HR}}%</div>
                            <div class="card-body">
                                <div class="chart-container" style="position: relative;">
                                    <canvas id="humExterior" height="210">{{ Humedad }}</canvas>
                                </div>
                            </div>
                            <div class="card-footer" *ngFor="let item of listadoHumedad" style="color: black; font-size: 12px;">Fecha / Hora: {{item.Fecha}} {{item.Tiempo}}
                                <hr>
                                <a class="btn btn-primary " (click)="confirmacion(item)" data-toggle="modal" style="margin: 0.6px" data-target="#humedadE" style="font-size: 15px;" mat-raised-button color="warn">
                                    <mat-icon>list_alt</mat-icon> Detalles</a>

                            </div>
                        </div>
                    </th>
                    <th width="30%">
                        <div class="card text-white  mb-3 " style="max-width: 35rem; background-color: white;">
                            <div *ngFor="let item of listadoRocio" class="card-header" style="color: black; background-color:#7FFFD4;">VIENTO: {{item.Velocidadviento}}%</div>
                            <div class="card-body">
                                <div class="chart-container" style="position: relative;">
                                    <canvas id="vienExterior" height="210">{{ Viento }}</canvas>
                                </div>
                            </div>
                            <div class="card-footer" *ngFor="let item of listadoRocio" style="color: black; font-size: 12px;">Fecha/Hora:{{item.Fecha}} {{item.Tiempo}}
                                <hr>
                                <a class="btn btn-primary " (click)="confirmacion(item)" data-toggle="modal" style="margin: 0.6px" data-target="#vientoE" style="font-size: 15px;" mat-raised-button style="background-color:  blue; color: white;">
                                    <mat-icon>list_alt</mat-icon> Detalles</a>

                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>


    </mat-tab>
    <mat-tab label="REGISTROS">
        <hr>
        <table class="table table-responsive-lg table-bordered" style="font-size: large;">
            <thead>
                <tr class="table-responsive-lg ">
                    <th width="15%">
                        Excel
                        <hr>
                        <div align="center">
                            <input style="margin: 0.2px" class="btn btn-primary " type="file" accept="document/*">
                            <hr>
                            <a href="http://localhost/api/estacionLectura.php" style="margin: 0.6px" mat-raised-button style="background-color:  red; color: white;" class="btn">
                                <mat-icon>unarchive</mat-icon> Aceptar</a>
                        </div>
                    </th>
                    <th width="15%">
                        Descarga y comparación de registros
                        <hr>
                        <a href="http://localhost/api/descargar/reporte.php" style="margin: 0.6px" mat-raised-button style="background-color:  green; color: white;" class="btn">
                            <mat-icon>archive</mat-icon> Descargar</a>

                        <a href="http://localhost/api/graficar/graficaHumedad/graficaHumedad.php" style="margin: 2px" mat-raised-button color="warn" class="btn btn-primary">
                            <mat-icon>timeline</mat-icon> Graficar</a>
                        <hr>

                        <!--
<a href="http://localhost/api/estacion/eliminarBD.php" style="margin: 0.6px" mat-raised-button color="primary" class="btn btn-primary">
                            <mat-icon>delete_forever</mat-icon> Resetear datos</a>
                        -->

                    </th>
                </tr>
            </thead>

        </table>

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        JITOMATES
                    </mat-panel-title>
                    <mat-panel-description>
                        .
                        <mat-icon>remove_red_eye</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header"> TEMPERATURA</div>
                            <div class="card-body">
                                <table style="margin: 0 auto;">
                                    <th>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col" whidth=20%>Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table table-primary" *ngFor="let fechaTJ of valorQ">
                                                    <td>
                                                        <br>{{fechaTJ |date }}<br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                    <th>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Hora</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table table-primary" *ngFor="let fechaTJ of valorM">
                                                    <td>
                                                        <br>{{fechaTJ }}<br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                    <th>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Promedio</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class=" table bg-warning" *ngFor="let promedioTJ of valorN">
                                                    <td>
                                                        <br>{{promedioTJ | number}} °C<br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>

                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header"> HUMEDAD RELATIVA</div>
                            <div class="card-body">
                                <table style="margin: 0 auto;">
                                    <th>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table table-primary" *ngFor="let fechaTJ of valorR">
                                                    <td>
                                                        <br>{{fechaTJ | date }}<br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                    <th>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Hora</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table table-primary" *ngFor="let fechaTJ of valorO">
                                                    <td>
                                                        <br>{{fechaTJ}}<br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                    <th>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Promedio</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class=" table bg-warning" *ngFor="let promedioHJ of valorP">
                                                    <td>
                                                        <br>{{promedioHJ | number}} %<br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>

                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </mat-expansion-panel>
        </mat-accordion>


        <div class="example-container mat-elevation-z8 table-responsive" style="text-align: center;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%">HORA</th>
                        <th width="10%">TEMPERATURA</th>
                        <th width="10%">HUMEDAD RELATIVA</th>
                        <th width="10%">VIENTO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table table-bordered table-primary" *ngFor="let item of listado" style="font-size: 15px;">
                        <td align="center" style="font-size: 15px; ">
                            {{item.Tiempo}}
                        </td>
                        <td align="center" style="font-size: 15px;">
                            {{item.Temp}} °C
                        </td>
                        <td align="center" style="font-size: 15px;">
                            {{item.HR}} %
                        </td>
                        <td align="center" style="font-size: 15px;">
                            {{item.Velocidadviento }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </mat-tab>

</mat-tab-group>


<div class="modal fade bs-example-modal-sm" id="humedadE" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div style="text-align: center;" class="modal-header">
                REGISTROS DE HUMEDAD RELATIVA EXTERNO
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive-lg">
                    <thead>
                        <tr class="table table-secondary">

                            <th width="10%">HORA</th>
                            <th width="10%">HUMEDAD RELATIVA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table table-primary" *ngFor="let item of listadoHumedadC">

                            <td align="center">
                                {{item.Tiempo}}
                            </td>
                            <td align="center">
                                {{item.HR }}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--TEMPERATURA PARA LOS JITOMATES -->
<div class="modal fade bs-example-modal-sm" id="temperaturaE" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div style="text-align: center;" class="modal-header">
                REGISTROS DE TEMPERATURA EXTERNO
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive-lg">
                    <thead>
                        <tr class="table table-secondary">
                            <th width="10%">HORA</th>
                            <th width="10%">TEMPERATURA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table table-primary" *ngFor="let item of listadoTemperaturaC">

                            <td align="center">
                                {{item.Tiempo}}
                            </td>
                            <td align="center">
                                {{item.Temp }}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!--TEMPERATURA PARA LOS JITOMATES -->
<div class="modal fade bs-example-modal-sm" id="vientoE" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div style="text-align: center;" class="modal-header">
                REGISTROS DE VIENTO EXTERNO
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive-lg">
                    <thead>
                        <tr class="table table-secondary">
                            <th width="10%">HORA</th>
                            <th width="10%">VIENTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table table-primary" *ngFor="let item of listadoRocioC">

                            <td align="center">
                                {{item.Tiempo}}
                            </td>
                            <td align="center">
                                {{item.Velocidadviento }}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>