<div class="col-md-6 offset-md-3 mt-5">



    <div class="card text-white  mb-3" style="max-width: 80rem; background-color: #000000;">
        <div class="card-header">HUMEDAD</div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="chart-container" style="position: relative;">
                <canvas id="canvas">{{ Linechart }}</canvas>
            </div>
        </div>
    </div>
    <div align="center">
        <a [routerLink]="['/monitoreoInEx']" mat-raised-button class="btn btn-success">
            <mat-icon>exit_to_app</mat-icon> volver</a>


    </div>
</div>